<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form method="post">

        <table>

            <tr>
                <td>Name : </td>
                <td>
                    <input type="text" placeholder="Enter Name" name="user_name" required> </td>
            </tr>
            <tr>
                <td> Email :</td>
                <td>
                    <input type="text" placeholder="Enter Email" name="user_email" required>
                </td>
            </tr>
            <tr>
                <td>Technology :</td>
                <td>
                    <input type="text" placeholder="Enter your Technology" name="user_mobile" required>
                </td>
            </tr>

            <tr>

                <td>
                    <input type="submit">
                    <input type="button" value="Display" onclick="window.location='display'">
                </td>
            </tr>
        </table>





    </form>
</body>

</html>